body {
  font-family: "Arial";
  margin: 0px;
}

header {
  background-color: #faefff;
  height: 80px;
}

header > p {
  text-align: center;
  font-size: 50px;
  padding-bottom: 15px;
  margin-top: 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #bc42f4;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: scroll;
  width: 100%;
}

#leftside-list,
#middle-box,
#rightside-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

#leftside-list {
  min-width: 200px;
  height: 740px;
  overflow: scroll;
  white-space: nowrap;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  /*align-items: stretch;*/
}

#leftside-list div {
  min-height: 120px;
  width: 100%;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 3px 2px 6px #000;
  overflow: scroll;

}

#leftside-list div:hover {
  color: black;
}

#doge  {
  background-position: 45% 20%;
}

#husky  {
  background-position: 80% 20%;
}

#doggest  {
  background-position: 50% 20%;
}

#shiber  {
  background-position: 50% 22%;
}

#puggerino  {
  background-position: 30% 40%;
}

#pupper  {
  background-position: 50% 40%;
}

#shoobi {
  background-position: 50% 30%;
}

#middle-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  background-color: #fff;
  width: 100%;
  height: auto;
}

#photo-box {
  display: flex;
  max-width: 80%;
  min-width: 650px;
  width: auto;
  height: auto;
  margin: auto;
  background-size: cover;
  position: relative;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#current-photo {
  display: flex;

  width: 100%;
  max-height: 100%;

  background-size: cover;
}

#photo-description {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  color: white;
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  max-height: 100px;
  background: linear-gradient(to top, rgba(48, 48, 48, 0.5) 85%, transparent 100%);

  position: absolute;
  bottom: 0px;

  transition: max-height 1s linear;
}

#photo-description.extended {
    max-height: 500px;

    transition: max-height 1s linear;
}

#photo-description span {
  padding: 0px 20px 10px;
  margin-bottom: 5px;
  z-index: 3;
  overflow: hidden;
}

#text {
  margin-top: 20px;
}

a {
  color: #66CDAA;
  text-decoration: none;
  z-index: 3;
  padding: 0px 20px 10px;
  margin-top: 0px;
}

#rightside-box {
  background-color: white;
  width: 20%;
  display: none;
}

#next-arrow {
  font-size: 20px;
  text-align: right;
  padding-top: 50px;
  padding-right: 20px;
  visibility: hidden;
}
