body {
  font-family: "Arial";
  margin: 0px;

  overflow: hidden;;
}

.header {
  background-color: #242F40;
  height: 80px;
}

.header__title {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
  font-family: "San Francisco", regular, sans-serif;
  color: #CCA43B;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: scroll;
  width: 100%;

  background-color: #E5E5E5;
}

.leftside-menu,
.middle-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.leftside-menu {

  min-width: 200px;
  height: 740px;
  overflow: scroll;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.leftside-menu__item {

  min-height: 120px;
  width: 100%;

  font-weight: bold;
  font-size: 20px;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: scroll;

  /*border-radius: 5%;*/
  transition: text-shadow 0.2s, filter 0.7s;
}

.leftside-menu__item:hover,
.leftside-menu__item_active {
  text-shadow: 3px 2px 6px #000;
  box-shadow: 0 0 20px white;
  filter: brightness(60%);

}

.middle-box {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  /*background-color: #fff;*/
  width: 100%;
  height: auto;

  overflow: auto;
}

.middle-box__photo-box {
  display: flex;
  width: 85%;
  height: 87%;
  margin: auto;
  margin-top: 40px;


  position: relative;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  background-color: #363636;
  /*border-radius: 0.8%;*/
}

.photo-box__current-photo {

  align-self: stretch;

  margin: auto;

  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 594px;
  z-index: 1;
  /*background-color: cornflowerblue;*/
  background-size: contain;
  background-repeat: no-repeat;

  /*border-radius: inherit;*/
  /*border: 10px solid white;*/

}

.photo-box__current-photo_hidden {
  display: none;
}

.photo-box__photo-description {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  color: white;
  text-align: justify;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  max-height: 100px;
  background: linear-gradient(to top, rgba(48, 48, 48, 0.5) 85%, transparent 100%);

  z-index: 2;
  position: absolute;
  bottom: 0px;

  transition: max-height 1s linear;
}

.photo-box__photo-description_hidden {
  display: none;
}

.photo-box__photo-description .extended {
  max-height: 500px;

  transition: max-height 1s linear;
}

.photo-box__text {
  padding: 10px 10px 5px;
  z-index: 1;
  overflow: hidden;

}

.photo-box__reveal-button {
  color: darkseagreen;
  text-decoration: none;
  z-index: 1;
  padding: 0px 10px 5px;
  margin-top: 0px;
}

.photo-box__photo-loader {
  display: block;
  position: absolute;
  z-index: 0;
  margin-top: auto;
  width: 100px;
  height: 100px;

  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid #CCA43B;

  animation: fff 1s linear infinite;
}

.middle-box__page-loader {
  display: flex;
  align-self: center;
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  z-index: 6;
  width: 100px;
  height: 100px;

  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid darkslategrey;

  animation: fff 1s linear infinite;
}

.loader_hidden {
  display: none;
}

@keyframes fff {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.photo-box__status-bar {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;

  /*background: yellowgreen;*/
  /*border: 1px solid darkgreen;*/
  height: 50px;
  min-height: 50px;
  width: 100%;
  margin-bottom: 0;
  /*padding-top: 50px;*/
  color: #CCA43B;
}

.status-bar__number-of-photo {
  padding-left: 20px;
}

.status-bar__action-buttons {
  padding-right: 20px;
}


.arrow-sliders-box {
  display: flex;
  justify-content: flex-start;


  position: absolute;
  top: 80px;
  left: 200px;
  /*margin: 0;*/
  /*padding: 0;*/
  height: 100%;
  width: 100%;
  /*opacity: 0.3;*/
  /*background-color: indianred;*/
  z-index: 11;
}

.middle-box__arrow-slider {
  position: relative;
  height: 80%;
  /*width: 80px;*/

  z-index: 12;
  /*border: 1px solid green;*/
  color: black;
  opacity: 0.5;
}

.arrow-slider-left {
  background-color: sandybrown;
  flex-grow: 1;

}

.arrow-slider-right {
  background-color: cadetblue;
  flex-grow: 3;

}

.arrow-slider-rightest {
  background-color: yellow;
  flex-grow: 2;

}

#doge  {
  background-position: 45% 20%;
}

#husky  {
  background-position: 80% 20%;
}

#doggest  {
  background-position: 50% 20%;
}

#shiber  {
  background-position: 50% 22%;
}

#puggerino  {
  background-position: 30% 40%;
}

#pupper  {
  background-position: 50% 40%;
}

#shoobi {
  background-position: 50% 30%;
}